body {
    margin: 0;
    overflow: hidden;
}

.directional {
    position: absolute;
    top: 8px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.directional > img {
    width: 64px;
    image-rendering: pixelated;
}

.hold {
    position: absolute;
    top: 8px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.hold > img {
    width: 64px;
    image-rendering: pixelated;
}

.left {
    left: 8px;
}

.right {
    left: 80px;
}

.top {
    left: 8px;
    top: 80px;
}

.hold.left, .hold.right {
    top: 150px;
}

.bottom {
    left: 8px;
    top: 215px;
}

.top > img, .bottom > img {
    width: 136px;
}

#scaleContainer {
    transform: rotate(270deg);
    position: absolute;
    width: 300px;
    height: 20px;
    top: 100px;
    right: -130px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#zoomLevel {
    position: absolute;
    font-size: 20px;
    top: -6px;
    left: -52px;
    transform: rotate(90deg);
    color: white;
    font-weight: bolder;
}

#sizeSlider {
    position: absolute;
    top: 0;
    left: -13px;
    -webkit-appearance: none;
    background: #727272;
    border: 3px solid black;
    border-right: none;
    appearance: none;
    width: 80%;
    height: calc(100% - 6px);
    margin: 0;
}

#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    transform: rotate(150deg) skewY(-45deg) skewX(-20deg);
    padding: 0;
    margin: 0;
    top: -4px;
    height: 20px;
    width: 20px;
    border: 4px solid black;
    background-color: #b1b1b1;
}

#sizeSlider::-webkit-slider-thumb:hover {
    background-color: #a3a3a3;
}

#bottomBox {
    position: absolute;
    height: 0px;
    left: -23px;
    width: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 13px solid black;
}
#bottomInnerBox {
    position: absolute;
    height: 0px;
    left: -19px;
    top: 3px;
    width: 0px;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 9px solid #727272;
}

#topBox {
    position: absolute;
    height: 0px;
    width: 0px;
    right: 58px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 13px solid black;
}
#topInnerBox {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 3px;
    right: 62px;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 9px solid #727272;
}